[submodule "src/third_party/glfw"]
	path = src/third_party/glfw
	url = https://github.com/glfw/glfw
[submodule "src/third_party/glad"]
	path = src/third_party/glad
	url = https://github.com/Dav1dde/glad
	branch = c
[submodule "src/third_party/cglm"]
	path = src/third_party/cglm
	url = https://github.com/recp/cglm/
